<div class="containerNav">
	<nav
		class="nav">
		 <div class="Logo">
		 	{% include '@svg_path/Logo_Exam_header.svg' ignore missing %}
			{% include '@svg_path/Logo_Exam_header2.svg' ignore missing %}
			{% include '@svg_path/Logo_Exam_Info.svg' ignore missing %}
		 </div>
		<div class="containerUl">
			<ul class="ul">
				<li class="li">
					<a class="link" href="{{path('home')}}">Home</a>
				</li>
				<li>
					<a class="link" href="{{ path('app_brands') }}">Marques</a>
				</li>
				<li>
					<a class="link" href="{{path('membres')}}">Membres</a>
				</li>
				<li>
				{% if app.user == true %}
					<a class="link" href="{{ path('app_logout') }}">Déconnexion</a>
				{% else %}
					<a class="link" href="{{ path('app_login')}}">Connexion</a>
				{% endif %}
				</li>
			</ul>
		</div>
		<div class="blocFas">
		 {% if app.user %}
			<a class = "blocIconFas"  href="{{ path('app_user', {slug: app.user.slug}) }}"><i class="fa-solid fa-user"></i></a>
			{% else %}
			<a href="{{ path('app_login')}}" style = "visibility : hidden"><i class="fa-solid fa-user"></i></a>
		{% endif %}

		</div>
	</nav>
	<div id="burger">
		<div class="burgerBar"></div>
		<div class="burgerBar"></div>
		<div class="burgerBar"></div>
	</div>
	<div id="burgerMenu">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Marques</a></li>
			<li><a href="#">Contact</a></li>
			<li><a href="#">Connexion</a></li>
		</ul>
	</div>
</div>
		{% for message in app.flashes('mercuryseries_flashy_notification') %}
    <script id="flashy-template" type="text/template">
        <div class="flashy flashy--{{ message.type }}">
            <a class="flashy__body" href="#" target="_blank"></a>
        </div>
    </script>

    <script>
        flashy("{{ message.message }}");
    </script>
{% endfor %}
