{% extends 'base.html.twig' %}

{% block title %}Voitures{% endblock %}

{% block body %}
    <h1>Voitures</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ voiture.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ voiture.nom }}</td>
            </tr>
            <tr>
                <th>Nombre de propriétaires</th>
                {% if voiture.owner is null %}
                    <td>0</td>
                    {% else %}
                <td>{{ voiture.owner }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Puissance</th>
                <td>{{ voiture.puissance }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ voiture.prix }}</td>
            </tr>
            <tr>
                <th>Km</th>
                <td>{{ voiture.km }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ voiture.Titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ voiture.description }}</td>
            </tr>
            <tr>
                <th>Carburant</th>
                <td>{{ voiture.carburant }}</td>
            </tr>
              <tr>
                <th>Transmission</th>
                <td>{{ voiture.transmission }}</td>
            </tr>
        </tbody>
    </table>

     <a class = "backToList" href="{{path('app_user', {slug: app.user.slug})}}">Revenir sur mon profil</a>

    <a class = "editCar" href = "{{ path('app_voitures_edit', {'id': voiture.id}) }}">Modifier</a>

    {{ include('voitures/_delete_form.html.twig') }}

			{{ encore_entry_link_tags('formCars') }}


{% endblock %}
