{% extends "base.html.twig" %}
{% block title %}
{% endblock %}
{% block body %}

{% include "./partials/header.html.twig" %}

<div class="containerShowVoitures">

<div class="containerShowVoituresBloc">
{% if marques.voitures | length > 0 %}
 <h4 class="result">Résultat : <span class="resultNumber">{{marques.voitures  | length}}</span> {{marques.nom}}</h4>
{% else %}
<div class="containerMessage">
    <h4>
        Il n'y a actuellement pas de voiture pour cette marque
    </h4>
        {% if app.user %}
             {# <h4>Rendez-vous sur votre <a href="{{path('app_user', {slug: user.slug})}}"><span> page profil</span></a> afin d'en ajouter une</h4> #}
          {% else %}
            <h4>
          <a href="{{path('app_login')}}">
              <span>Connectez-vous</span></a> pour en ajouter une
            </h4>
</div>
    {% endif %}

{% endif %}
<div class="grilleVoitures">
{% for voiture in marques.voitures %}



<div class="containerShowVoituresCard">
    <div class="containerShowVoituresImage">
        <img src="{{ vich_uploader_asset(voiture.imagesVoitures[0], "imageFile") }}" alt="">

         {# <div class="containerShowVoituresImagePlace" style = 'background-image: url({{ vich_uploader_asset(voiture.imagesVoitures[0], "imageFile") }}); background-size:cover; background-position: center ;' ></div> #}
    </div>
    <div class="containerBottomEnglobe">
    <div class="containerShowVoituresInfo">
      <div class="containerNom">
      {% if (app.user == voiture.user) or is_granted('ROLE_ADMIN') %}
        <a class = "editI" href="{{path('app_voitures_edit', {id: voiture.id })}}"><i class="fa-solid fa-pen-to-square"></i></a>
  {% else %}
  {% endif %}
      {{voiture.nom}}
       {% if (app.user == voiture.user) or is_granted('ROLE_ADMIN') %}
    <a class = "deleteI" href="{{path('app_voitures_delete', {id: voiture.id})}}"><i class="fa-solid fa-trash-can-arrow-up"></i></a>
  {% else %}
  {% endif %}
      </div>
     <div class="containerDesc">
        {% if voiture.description %}
          {{voiture.description}}
        {% else %}
          L'auteur de l'annonce n'a pas mis de description pour cette voiture
        {% endif %}
      </div>

      <a class = "showVoituresLink" href="{{ path('app_cars', {slug: voiture.slug}) }}">Voir la voiture</a>
      <div class="createdBy">
      <a href="{{path('app_user', {slug:voiture.user.slug})}}">
          <h5 class = "createdByH">Ajouté par <span>{{voiture.user.username }}</span></h5>
        </a>
      </div>

    </div>
    </div>
</div>
{% endfor %}
</div>
</div>
 {# <div class="paginationContainer">
    {{ knp_pagination_render(marqueCard) }}
</div> #}
</div>





{# {% for marque in marques %}

<script>
    console.log("ok")
</script>

{% endfor %} #}



{% include "./partials/footer.html.twig" %}
{{encore_entry_link_tags('show')}}

<script>
function getCurrentURL () {
    return window.location.href
  }

  const url = getCurrentURL()
  const footer = document.querySelector(".containerFooter")
  const el = document.querySelector(".brandsContainer")
  const hBloc = document.querySelectorAll(".hBloc")
  const h4Bloc = document.querySelectorAll(".h4Bloc")
  const bloc2= document.getElementById("blocP")
  const nav = document.querySelector(".containerNav")
  console.log(nav)
  nav.style.position = "relative"
  nav.style.backgroundColor = "rgb(21,21,21)"



  let white = "rgb(231, 231, 231)"


  const value = window.getComputedStyle(el)

  const background = value.getPropertyValue("background-color")
 // console.log(background)

  console.log(url);
  if(window.location.href.indexOf("marques") > -1) {
    footer.style.backgroundColor = background
    footer.style.borderTop = "3px solid white"

    var bloc2Before = window.getComputedStyle(bloc2, "::before")
    console.log(bloc2Before.backgroundColor)
    bloc2.style.setProperty('--before', white)
    bloc2.style.setProperty('--after', white)

    for (const liste of footer.children) {
       // console.log(liste.tagName)
      liste.style.color = white

      hBloc.forEach(enfant => {
        // console.log(enfant)
        for(const hBlocEnfant of enfant.children) {
          //console.log (rowListe)
          hBlocEnfant.style.color = white
        }
      })
       h4Bloc.forEach(h4BlocEnfant => {
        for (const h4BlocListe of h4BlocEnfant.children) {
          h4BlocListe.style.color = white
        }
      })

    }
  }

</script>

   <script>

$(document).ready(function() {

  var counters = $(".resultNumber");
  var countersQuantity = counters.length;
  var counter = [];

  for (i = 0; i < countersQuantity; i++) {
    counter[i] = parseInt(counters[i].innerHTML);
  }

  var count = function(start, value, id) {
    var localStart = start;
    setInterval(function() {
      if (localStart < value) {
        localStart++;
        counters[id].innerHTML = localStart;
      }
    }, 80);
  }

  for (j = 0; j < countersQuantity; j++) {
    count(0, counter[j], j);
  }
});
    </script>
    <script>
{% for marque in marques %}
  alert('ok')
  if(window.location.href.indexOf({{marque.nom}}) > -1) {
    alert('ok')
    console.log('ok')
  }else {
    console.log({{marque.nom}})
    console.log({{'ok'}})
  }

{% endfor %}
</script>
{% endblock %}