{% extends "base.html.twig" %}
{% block body %}
    {% include "./partials/header.html.twig" %}

    <div class="modal">
        <div class="modal-tit">
            <h2>Description de {{voiture.nom}}</h2>
            <span class="close">&times;</span>
        </div>
        <div class="modal-content">
            <h3>{{voiture.description}}</h3>
        </div>
    </div>
    <div class="carInfoBloc">
        <div class="carInfoName">
            <h1>{{voiture.nom}}</h1>
            <h2>{{voiture.marque}}</h2>
        </div>
    </div>
     <div class="containerVoitureInfo">
        <div class="sous-containerVoitureInfo">
            <div class="sous-sous-containerVoitureInfo">
                <div class="bd-example">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                        <div class="carousel-indicators">

                {% for image in voiture.imagesVoitures %}
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{loop.index0}}" {% if loop.first %} class="active" aria-current="true" {% endif %} aria-label="Slide {{loop.index}}"></button>
                {% endfor %}
        </div>

      <div class="carousel-inner">
            {% for image in voiture.imagesVoitures %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                        {# <img src="{{ vich_uploader_asset(image, 'imageFile') }}" class="blocImage" alt=""> #}
                        <div class="blocImage"  style="background-image: url({{ vich_uploader_asset(image, 'imageFile') }}); background-size: cover; background-position: center;"></div>
                </div>
            {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true" onclick = yes()></span>
                    <span class="visually-hidden">Next</span>
            </button>
            </div>
        </div>
        </div>
        </div>
        <div class="carac">
            <h4 class="cText">Caractéristiques</h4>
        </div>
<div class="blocGrid">
    <div class="blocGridContentBloc">
        <div class="blocGridContentBlocContentLeft">
            <i class="fa-solid fa-file-medical"></i>
        </div>
        <div class="blocGridContentBlocContentRight">
            <div class="blocGridContentBlocContentRightTop">
                <h3>Description</h3>
            </div>
            <div class="blocGridContentBlocContentRightBottom">
            {% if voiture.description %}
                <h4 class = hDesc>{{voiture.description}}</h4>
                <p class = "readMore" id = "r">Lire la suite</p>
                {% else %}
                    <h4>Pas de description</h4>
                    {% if app.user == voiture.user %}
                        <a class = "addLink" style = "text-decoration: none; color: #52cf97; transition: .3s ease" href="{{path('app_voitures_edit', {id:voiture.id})}}"><p>En ajouter une</p></a>{% else %}
                            En ajouter une
                    {% endif %}
            {% endif %}
            </div>
        </div>
    </div>
    <div class="blocGridContentBloc">
        <div class="blocGridContentBlocContentLeft">
            <i class="fa-solid fa-car-battery"></i>
        </div>
        <div class="blocGridContentBlocContentRight">
            <div class="blocGridContentBlocContentRightTop">
                <h3>Carburant</h3>
            </div>
            <div class="blocGridContentBlocContentRightBottom">
                <h4>{{voiture.carburant}}</h4>
            </div>
        </div>
    </div>
    <div class="blocGridContentBloc">
        <div class="blocGridContentBlocContentLeft">
            <i class="fa-solid fa-truck-monster"></i>
        </div>
        <div class="blocGridContentBlocContentRight">
            <div class="blocGridContentBlocContentRightTop">
                <h3>Kilométrage</h3>
            </div>
            <div class="blocGridContentBlocContentRightBottom">
                <h4>{{voiture.km}} kilomètres</h4>
            </div>
        </div>
    </div>
       <div class="blocGridContentBloc">
        <div class="blocGridContentBlocContentLeft">
            <i class="fa-regular fa-credit-card"></i>
        </div>
        <div class="blocGridContentBlocContentRight">
            <div class="blocGridContentBlocContentRightTop">
                <h3>Prix</h3>
            </div>
            <div class="blocGridContentBlocContentRightBottom">
                <h4 class = "hPrix">{{voiture.prix}} euros</h4>
            </div>
        </div>
    </div>
    <div class="blocGridContentBloc">
        <div class="blocGridContentBlocContentLeft">
            <i class="fa-solid fa-key"></i>
        </div>
        <div class="blocGridContentBlocContentRight">
            <div class="blocGridContentBlocContentRightTop">
                <h3>Propriétaires</h3>
            </div>
            <div class="blocGridContentBlocContentRightBottom">
                <h4>
                    {% if voiture.owner < 1%}
                    Pas de propriétaire
                    {% else %}
                         {% if voiture.owner > 1 %}
                            {{voiture.owner}} propriétaires
                        {% else %}
                            {{voiture.owner}} propriétaire
                        {% endif %}
                    {% endif %}
                </h4>
            </div>
        </div>
    </div>
    <div class="blocGridContentBloc">
        <div class="blocGridContentBlocContentLeft">
            <i class="fa-solid fa-dumbbell"></i>
        </div>
        <div class="blocGridContentBlocContentRight">
            <div class="blocGridContentBlocContentRightTop">
                <h3>Puissance</h3>
            </div>
            <div class="blocGridContentBlocContentRightBottom">
                <h4 class = "hPuissance">
                    {{voiture.puissance}} chevaux
                </h4>
            </div>
        </div>
    </div>
     <div class="blocGridContentBloc">
        <div class="blocGridContentBlocContentLeft">
           <i class="fa-solid fa-gear"></i>
        </div>
        <div class="blocGridContentBlocContentRight">
            <div class="blocGridContentBlocContentRightTop">
                <h3>Transmission</h3>
            </div>
            <div class="blocGridContentBlocContentRightBottom">
                <h4>
                    {{voiture.transmission}}
                </h4>
            </div>
        </div>
    </div>
<div class="blocGridContentBloc">
        <div class="blocGridContentBlocContentLeft">
            <i class="fa-solid fa-road"></i>
        </div>
        <div class="blocGridContentBlocContentRight">
            <div class="blocGridContentBlocContentRightTop">
                <h3>Cylindrée</h3>
            </div>
            <div class="blocGridContentBlocContentRightBottom">
                <h4>
                {% if voiture.cylinder > 1 %}
                    {{voiture.cylinder}} litres
                    {% else %}
                    {{voiture.cylinder}} litre
                {% endif %}

                </h4>
            </div>
        </div>
    </div>
    <div class="blocGridContentBloc">
        <div class="blocGridContentBlocContentLeft">
            <i class="fa-regular fa-calendar-days"></i>
        </div>
        <div class="blocGridContentBlocContentRight">
            <div class="blocGridContentBlocContentRightTop">
                <h3>Date de sortie</h3>
            </div>
            <div class="blocGridContentBlocContentRightBottom">
                <h4>
                    {{voiture.Year | date("Y")}}
                </h4>
            </div>
        </div>
    </div>


</div>
</div>




    {% include "./partials/footer.html.twig" %}
    {{encore_entry_link_tags('voitureInfo')}}
    {{encore_entry_script_tags('logo')}}
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
            const str ={{voiture.description | json_encode() | raw}}
            const length = str.length
    </script>


{% endblock %}