{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="totalContainer">
<div class="blocBack">
    <a class = "backToWebsite" href="{{path('home')}}">Revenir à la page principale</a>
    <span class = 'Und'></span>
</div>
</div>
<div class="userProfileBloc">
<h2 class = "welcomeMessage">
    {% if app.user == user %}
    Bonjour, {{user.username}}
    {% else %}
        Profil de {{user.username}}
    {% endif %}

</h2>


    {% if user.picture is null %}
         {# <div class="userProfilePicture" style = "background-image: url('https://picsum.photos/300/300'); background-size:cover; background-repeat: no-repeat"></div> #}
         <div class="userProfilePicture" style = "background-image: url('https://picsum.photos/300/300'); background-size:cover; background-repeat: no-repeat"></div>
    {% else %}

          {# <div class="userProfilePicture" style = "background-image: url({{ vich_uploader_asset(user.picture, 'imageFile') }})"></div> #}
    {% endif %}

<div class="form-group-user">
    {% if app.user == user %}
<a class = "addCar" href="{{path('app_voitures_new', {slug: user.slug})}}">Ajouter une voiture</a>
<a class = "changePic" href="{{path('user_imgEdit', {slug: user.slug})}}">Changer d'image</a>
    {% endif %}
    {# {{form_start(myForm)}}
         {{form_widget(myForm)}}
            <button type="submit" class="btn btn-warning">Confirmez la modification de l'avatar</button>
    {{form_end(myForm)}} #}
</div>
</div>

<div class="userProfileBloc2">

{% if user.userVoiture | length %}
    {% if app.user == user %}
        {% if user.userVoiture | length > 1 %}
        <p class = "text-center">Vous avez ajouté <span class="counterProfile">{{user.userVoiture | length}}</span> voitures</p>
        {% else %}
            <p class = "text-center">Vous avez ajouté <span class="counterProfile">{{user.userVoiture | length}}</span> voiture</p>
    {% endif %}
    {% endif %}
    {% if app.user != user %}
        {% if user.userVoiture | length > 1 %}
        <p class = "text-center">{{user.username}} a ajouté <span class="counterProfile">{{user.userVoiture | length}}</span> voitures</p>
        {% else %}
            <p class = "text-center">{{user.username}} a ajouté <span class="counterProfile">{{user.userVoiture | length}}</span> voiture</p>
    {% endif %}
    {% endif %}


<div class="grid">


    {% for voiture in user.userVoiture %}
    <div class="cardUser">
        <div class="cardUserTop" style = "background-image: url({{ vich_uploader_asset(voiture.imagesVoitures[0], 'imageFile') }})">
        </div>
        <div class="cardUserBottom">
        <div class = "cardUserBottomInfoCarBlock">
        <div class="userBottomInfoCarIconsBlock">
        {% if (app.user == user) or is_granted('ROLE_ADMIN') %}
        <a class = "editI" href="{{path('app_voitures_edit', {id: voiture.id })}}"><i class="fa-solid fa-pen-to-square"></i></a>
        {% endif %}
            </div>
            <div class="cardUserBottomInfoCar">
                {{voiture.nom}}
            </div>
            <div class="userBottomInfoCarIconsBlock">
        {% if (app.user == user) or is_granted('ROLE_ADMIN') %}
            <a class = "deleteI" href="{{path('app_voitures_delete', {id: voiture.id})}}"><i class="fa-solid fa-trash-can-arrow-up"></i></a>
        {% endif %}

            </div>
        </div>
        <div class="cardUserBottomAction">
            <a class = "seeTheCar" href="{{path('app_cars', {slug:voiture.slug})}}">Voir la voiture</a>
        </div>

        </div>
    </div>
    {% endfor %}
</div>
    {% else %}
    <div class="blocAddCar">
        <div class="containerAddCar">
        {% if app.user == user %}
            <h2 class = "h2AddCar">Vous n'avez pas encore ajouté de voiture.</h2>
            <a class = "aAddCar" href="{{path('app_voitures_new', {slug: user.slug})}}">Cliquez ici pour en ajouter une</a>
            {% else %}
                 <h2 class = "h2AddCar">{{user.username}} n'a pas encore ajouté de voiture</h2>
                <h5 class = "aAddCar" href="{{path('app_voitures_new', {slug: user.slug})}}">Il devrait en ajouter une bientôt...</h5>
        {% endif %}
        </div>
    </div>
{% endif %}
</div>


{% include "./partials/footer.html.twig" %}
{{ encore_entry_link_tags('userProfile') }}
{{ include('@MercurySeriesFlashy/flashy.html.twig') }}

       <script>

$(document).ready(function() {

  var counters = $(".counterProfile");
  var countersQuantity = counters.length;
  var counter = [];

  for (i = 0; i < countersQuantity; i++) {
    counter[i] = parseInt(counters[i].innerHTML);
  }

  var count = function(start, value, id) {
    var localStart = start;
    setInterval(function() {
      if (localStart < value) {
        localStart++;
        counters[id].innerHTML = localStart;
      }
    }, 40);
  }

  for (j = 0; j < countersQuantity; j++) {
    count(0, counter[j], j);
  }
});
    </script>

{% endblock %}

