{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="totalContainer">
<div class="blocBack">
    <a class = "backToWebsite" href="{{path('home')}}">Revenir à la page principale</a>
    <span class = 'Und'></span>
</div>
</div>
<div class="userProfileBloc">
<h2 class = "welcomeMessage">
    Bonjour, {{user.username}}
</h2>

    {% if user.picture is null %}
         {# <div class="userProfilePicture" style = "background-image: url('https://picsum.photos/300/300'); background-size:cover; background-repeat: no-repeat"></div> #}
         <div class="userProfilePicture" style = "background-image: url('https://picsum.photos/300/300'); background-size:cover; background-repeat: no-repeat"></div>
    {% else %}

          {# <div class="userProfilePicture" style = "background-image: url({{ vich_uploader_asset(user.picture, 'imageFile') }})"></div> #}
    {% endif %}

<div class="form-group-user">
<a class = "addCar" href="{{path('app_voitures_new', {slug: user.slug})}}">Ajouter une voiture</a>
<a class = "changePic" href="{{path('user_imgEdit', {slug: user.slug})}}">Changer d'image</a>
    {# {{form_start(myForm)}}
         {{form_widget(myForm)}}
            <button type="submit" class="btn btn-warning">Confirmez la modification de l'avatar</button>
    {{form_end(myForm)}} #}
</div>
</div>

<div class="userProfileBloc2">

{% if user.userVoiture | length %}
<p class = "text-center">Les voitures que vous avez ajoutées :</p>
<div class="grid">
    {% for voiture in user.userVoiture %}
    <div class="cardUser">
        <div class="cardUserTop" style = "background-image: url({{ vich_uploader_asset(voiture.imagesVoitures[0], 'imageFile') }})">

        </div>
        <div class="cardUserBottom">
        <div class="cardUserBottomInfoCar">
             {{voiture.nom}}
        </div>
        <div class="cardUserBottomAction">
            <a href="{{path('app_voitures_edit', {id: voiture.id })}}">Modifier la voiture</a>
            <a href="{{path('app_voitures_delete', {id: voiture.id})}}">Supprimer la voiture</a>
        </div>

        </div>
    </div>
    {% endfor %}
</div>
    {% else %}
    <div class="blocAddCar">
        <div class="containerAddCar">
            <h2 class = "h2AddCar">Vous n'avez pas encore ajouté de voiture.</h2>
            <a class = "aAddCar" href="{{path('app_voitures_new', {slug: user.slug})}}">Cliquez ici pour en ajouter une</a>
        </div>
    </div>
{% endif %}
</div>


{% include "./partials/footer.html.twig" %}
{{ encore_entry_link_tags('userProfile') }}

{% endblock %}
